<!-- Affichage du commentaire (oui c'est gros et laid) -->
<div class="post" *ngIf="comment != null">

  <!-- Auteur et date -->
  <div class="postHeader">
    <div>{{comment.username == null ? '???' : comment.username}}</div>
    <div class="postDate">• {{comment.date | date:"dd MMMM yyyy hh:mm:ss":"":"fr"}}</div>
    <div class="spacer"></div>
  </div>

  <!-- Texte du commentaire et éventuellement images -->
  <div class="postContent">
    <div style="flex:1; display:flex; align-items:center;">
      <img class="avatar" src="/assets/images/default.png" alt="Avatar">
      <div *ngIf="!editToggle">{{comment.text}}</div>
      <textarea *ngIf="editToggle" id="commentTextEdit" name="commentTextEdit" rows="3"
        [(ngModel)]="editedText">{{comment.text}}</textarea>
    </div>
    <div class="commentPictures" *ngIf="comment.pictures.length > 0">
      <!-- Des images pourraient être affichées ici... -->

      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide" style="height: 100px;" #glideitems *ngFor="let picture of comment.pictures">
              <img  alt="{{picture.fileName}}" [src]="'http://localhost:7007/api/Comments/GetPicture/' + picture.id" >
            </li>
          </ul>
        </div>
      </div>

      <div class="glide__arrows" data-glide-el="controls">
        <div class="arrow glide__arrow glide__arrow--left" data-glide-dir="<">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            style="align-self: center;">
            <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"></path>
          </svg>
        </div>
        <div class="arrow glide__arrow glide__arrow--right" data-glide-dir=">">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            style="align-self: center;">
            <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
            </path>
          </svg>
        </div>
      </div>


    </div>
  </div>

  <!-- Nombreux boutons pour modifier le commentaire (votes, signalement, modification, etc.) -->
  <div class="postFooter">
    <div class="score" *ngIf="comment.username != null">
      <button [class]="comment.upvoted ? 'upvoted' : ''" (click)="upvote()"><fa-icon
          [icon]="faUpLong"></fa-icon></button>
      <div>{{comment.upvotes - comment.downvotes}}</div>
      <button [class]="comment.downvoted ? 'downvoted' : ''" (click)="downvote()"><fa-icon
          [icon]="faDownLong"></fa-icon></button>
    </div>
    <div>
      <button (click)="repliesToggle = !repliesToggle"><fa-icon [icon]="faMessage"></fa-icon>
        {{comment.subCommentTotal}}</button>
    </div>
    <div class="editMenu" (click)="editMenu = !editMenu" *ngIf="comment.username != null">
      <button><fa-icon [icon]="faEllipsis"></fa-icon></button>
      <div *ngIf="editMenu">
        <div *ngIf="isAuthor" (click)="this.editToggle = !this.editToggle">Modifier</div>
        <div *ngIf="isAuthor" (click)="deleteComment()">Supprimer</div>
        <div *ngIf="!isAuthor">Signaler</div>
      </div>
    </div>
    <div>
      <button *ngIf="comment.username != null" (click)="replyToggle = !replyToggle">Répondre</button>
    </div>
    <div>
      <!-- Il faudra modifier cet input -->
      <input *ngIf="editToggle" multiple type="file" accept="images/*" name="editedCommentPictures" #filesUploadByUser>
    </div>
    <div>
      <button *ngIf="editToggle" (click)="editToggle = false">Annuler</button>
    </div>
    <div>
      <button *ngIf="editToggle" (click)="editComment()">Modifier</button>
    </div>
  </div>

</div>

<!-- Boîte pour répondre au commentaire affiché dans ce composant -->
<div *ngIf="replyToggle" id="commentBox">
  <input type="text" name="newComment" id="newComment" placeholder="Ajouter un commentaire" [(ngModel)]="newComment">
  <div *ngIf="displayInputFile" class="commentPictureAdd">
    <!-- Il faudra modifier cet input -->
    <input type="file" accept="images/*" name="commentPictures">
  </div>
  <button (click)="displayInputFile = !displayInputFile"><fa-icon [icon]="faImage"></fa-icon></button>
  <button (click)="createComment()">Ajouter</button>
</div>

<!-- Liste de sous-commentaires -->
<div id="subComments" *ngIf="repliesToggle">
  <div class="comment" *ngFor="let c of comment!.subComments">
    <!-- Ne cherchez pas le composant app-comment, vous êtes déjà dedans ! -->
    <app-comment [comment]="c"></app-comment>
  </div>
</div>