<div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide" style="height: 100px;" #glideitems *ngFor="let picture of listimages">
            <div style="position:relative;">
              <button (click)="removepicture(picture.id)" *ngIf="toggleEdit" type="submit" style="right:0px; position: absolute;">
                 <span>&times;</span>
              </button>
            <div *ngIf="isAuteur">
              <a [href]="'http://localhost:7007/api/Comments/GetPictureBig/' + picture.id" target="_blank">
                <img alt="{{picture.fileName}}" style="object-fit:cover; width:100%; height: 100%;"
                  [src]="'http://localhost:7007/api/Comments/GetPicture/' + picture.id">
            </a>
            <button (click)="DeletePicutre(picture.id)" class="buttonSuppresionImage" style="right:0px; position: absolute;">x</button>
            </div>
            <div *ngIf="!isAuteur">
              <a [href]="'http://localhost:7007/api/Comments/GetPictureBig/' + picture.id" target="_blank">
                <img alt="{{picture.fileName}}" style="object-fit:cover; width:100%; height: 100%;"
                  [src]="'http://localhost:7007/api/Comments/GetPicture/' + picture.id">
              </a>
            </div>  
          </div>
        </li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <div class="arrow glide__arrow glide__arrow--left" data-glide-dir="<">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          style="align-self: center;">
          <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"></path>
        </svg>
      </div>
      <div class="arrow glide__arrow glide__arrow--right" data-glide-dir=">">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          style="align-self: center;">
          <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
          </path>
        </svg>
      </div>
    </div>
  </div>
